%h1 Accessible à tous, Intéractif et Gratuit

%p
  Unique sur le marché, Equibook permet de suivre les activités de son cheval en ligne, et de les partager avec d'autres cavaliers ou non. 

%p
Equibook est en cours de développement, néanmoins cette première version disponible vous permet de créer vos montures, d'ajouter des activités avec des photos. Il sera bientôt possible de les partager sur Facebook.  

%p
   

