@import 'bootstrap/bootstrap';

.container {
  padding-bottom: 2em;
}

#error_explanation {
  h3 {
    margin-top: 0;
  }
}

.fb_avatar {
  border-radius: 4px;
}

form.form-horizontal {
  margin-top: 2em;

  select.date {
    width: 30%;
    display: inline;
  }

  input[type=submit] {
    @extend .col-sm-offset-2;
  }
}

// Otherwise, the rich text editor goes over the datepickers
.fr-box { z-index: 1; }

// Do not put ugly underline below links
a:hover { text-decoration: none; }

