.activity
  %h2= activity.title
  %p.author
    != t('.by', author: user_link(activity.user), on: l((activity.start_at || activity.created_at).to_date, format: :long))
    - if activity.user == current_user
      = link_to t('.edit'), edit_horse_activity_path(@horse, activity)

  %p.description!= activity.description


